.job__panel {
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: var(--shadow);
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 40px;
  width: 100%;

  &:hover {
    border-left: 6px solid var(--main-color);
  }

  .job__offer {
    align-items: center;
    display: flex;
    gap: 20px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .company__name {
        align-items: center;
        display: flex;
        gap: 15px;

        .company__text {
          color: var(--main-color);
          font-size: 18px;
          font-weight: 700;
        }

        .new {
          background-color: var(--main-color);
          border-radius: 20px;
          height: fit-content;
          padding: 5px;
          width: fit-content;

          .new__text {
            color: var(--white);
            font-size: 13px;
            padding-top: 3px;
            text-align: center;
          }
        }

        .featured {
          background-color: black;
          border-radius: 20px;
          height: fit-content;
          padding: 5px;
          width: fit-content;

          .featured__text {
            color: var(--white);
            font-size: 13px;
            padding-top: 3px;
            text-align: center;
          }
        }
      }

      .title {
        color: var(--main-color);
        font-size: 20px;
        font-weight: 700;
      }

      .info {
        display: flex;
        gap: 15px;

        .info__text {
          color: var(--dark-cyan);
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      align-items: center;
      background-color: var(--light-cyan1);
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      height: 35px;
      margin-right: 20px;
      transition: 0.2s;
      width: fit-content;

      .text {
        color: var(--main-color);
        font-size: 15px;
        font-weight: 700;
        padding: 10px;
        text-align: center;

        &:hover {
          color: var(--white);
          transition: 0.2s;
          transition: 0.2s;
        }
      }

      &:hover {
        background-color: var(--very-dark-cyan);
        color: var(--white);
        transition: 0.2s;
      }
    }
  }
}

@media (max-width: 840px) {
  .job__panel {

    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    padding: 20px 20px;

    .job__offer {
      .wrapper {
        .company__name {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
        }

        .info {
          display: flex;
          flex-wrap: wrap;
          gap: 15px;

          .info__text {
            color: var(--dark-cyan);
          }
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
    }
  }
}
